body{
    color: #1d9d8f;
    background-color: #242122;
}
nav{
    background-color: #242122;
    width: 100%;
}
.fa-biking{
    color: #1d9d8f;
    font-size: 2rem;
}
.btn-0{
    background-color: #1d9d8f;
    color: #ffffff;
    border-radius: 20px;
}

.btn-1{
    background-color: #1d9d8f;
    color: #000000;
    font-weight: bolder;
}

.fa-play-circle{
    color: #1d9d8f;
    font-size: 2.3rem;

    
}

.header-img{
    height: 30rem;
    width: 38rem;
}